.container {
    width: 100%;
    height: 100%;
  }
  
  
  
.bg-2 {
    width: 100%;
    height: 100%;
    background-color: pink;
    background-size: cover!important;
  }

  
  .logo-2 {
    width: 20%;
    height: 20%;
    top:4%;
    right:4%;
    background-color: palegreen;
  }
  
  .cta-2 {
    width: 30%;
    height: 10%;
    background-color: olive;
    bottom:4%;
    right:35%;
  }
  
  .copy-2 {
    width: 50%;
    height: 30%;
    background-color: olivedrab;
    bottom:30%;
    left:4%;
  }
  
  
  .block {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  
  
  